buildscript {
    repositories {
    jcenter()
}
dependencies {
    classpath 'com.android.tools.build:gradle:2.3.0'
}
}
apply plugin: 'com.android.application'

repositories {
    jcenter()
}

android {
    compileSdkVersion 25
    buildToolsVersion '25.0.2'

    defaultConfig {
        applicationId '{{applicationId}}'
        minSdkVersion {{minSdkVersion}}
        targetSdkVersion {{targetSdkVersion}}
        versionCode 1
        versionName "1.0"
}

lintOptions {
    abortOnError false
}
}

dependencies {
    // some dependencies
}
